.input-container {
    width: 80%;
    height: 40px;
    background-color: rgba(var(--color-card));
    align-self: center;
    display: flex;
    margin-bottom: 10px;

    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

    .image-container {
        width: 10%;
        height: 100%;
        margin-left: 3px;
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 65%;
            height: auto;
            opacity: 0.6;
        }
    }

    .normal-input {
        height: 100%;
        width: 100%;
        border: none;
        background-color: rgba(var(--color-card));
        font-size: 16px;
        border-radius: 5px;
        color: rgba(var(--color-text-primary));

        &:focus {
            border: none;
            outline: none;
        }
    }
}

.normal-input.space {
    text-transform: capitalize;
}

@media (max-width: 768px) {
    .input-container {
        .image-container {
            width: 15%;
        }
    }
}
