.card-container {
    height: 80px;
    width: calc(100% - 40px);
    padding: 0px 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    background-color: rgb(var(--color-card));

    .info-type {
        h3 {
            color: rgb(var(--color-text-secondary));
        }
    }
    .info {
        margin-left: auto;
        margin-right: 10px;

        h3 {
            color: rgb(var(--color-text-primary));
        }
    }
}
