.settings-page {
    display: flex;
    flex-direction: column;
}

.main-settings {
    margin-left: 170px;
}
.mobile-only {
    display: none;
}

@media (max-width: 768px) {
    .main-settings {
        margin: 0;
    }
    .mobile-only {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: auto;

        .logout-btn {
            font-size: 14px;
            height: 30px;
            width: 100px;
            color: red;
        }
    }
}
