header {
    width: 100vw;
    padding: 0;
    height: 75px;
    background-color: rgba(var(--color-sidebar));
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.07);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    top: 0;
    position: fixed;
    z-index: 1000;

    .logo-container {
        margin: 8px 0px 25px 25px;
        height: 100%;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
            width: 130px;
            height: auto;
        }
    }

    .right-side {
        height: 100%;
        width: auto;
        margin-left: auto;
        display: flex;

        .profile-container {
            width: auto;
            height: 100%;

            margin-right: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            cursor: pointer;

            img {
                width: 48px;
                height: auto;
                margin-right: 12px;
            }

            .username {
                font-size: 20px;
                font-weight: bold;
                color: white;
                margin-right: 0px;
            }
        }

        .view-mode {
            height: 100%;
            width: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
            cursor: pointer;

            img {
                width: 25px;
                height: auto;
                filter: invert(1);
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        height: 55px;

        .logo-container {
            margin-top: 3px;

            img {
                width: 90px;
            }
        }

        .right-side {
            .profile-container {
                img {
                    width: 30px;
                }

                .username {
                    font-size: 16px;
                }
            }

            .view-mode img {
                width: 20px;
            }
        }
    }
}
