:root {
    --color-bg: 243, 243, 248;
    --color-sidebar: 50, 70, 109;
    --color-card: 255, 255, 255;
    --color-section: 247, 248, 251;

    --color-text-primary: 17, 24, 39;
    --color-text-secondary: 107, 114, 128;

    --color-primary: 79, 70, 229;
    --color-border: 229, 231, 235;

    --color-success: 16, 185, 129;
    --color-pending: 64, 115, 217;
    --color-warning: 245, 158, 11;
    --color-danger: 239, 68, 68;

    --priority-low: 16, 185, 129;
    --priority-medium: 245, 158, 11;
    --priority-high: 239, 68, 68;
}

.dark {
    --color-bg: 31, 41, 55;
    --color-sidebar: 17, 24, 39;
    --color-card: 55, 65, 81;

    --color-text-primary: 249, 250, 251;
    --color-text-secondary: 156, 163, 175;

    --color-primary: 99, 102, 241;
    --color-border: 75, 85, 99;

    --color-success: 52, 211, 153;
    --color-warning: 251, 191, 36;
    --color-danger: 248, 113, 113;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-bg);
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}
